<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    {% if bbb_turn_enable %}
    <bean id="stun0" class="org.bigbluebutton.web.services.turn.StunServer">
        <constructor-arg index="0" value="stun:{{ bbb_turn_server }}"/>
    </bean>


    <bean id="turn0" class="org.bigbluebutton.web.services.turn.TurnServer">
        <constructor-arg index="0" value="{{ bbb_turn_secret }}"/>
        <constructor-arg index="1" value="turns:{{ bbb_turn_server }}:5349?transport=tcp"/>
        <constructor-arg index="2" value="86400"/>
    </bean>

    <bean id="turn1" class="org.bigbluebutton.web.services.turn.TurnServer">
        <constructor-arg index="0" value="{{ bbb_turn_secret }}"/>
        <constructor-arg index="1" value="turn:{{ bbb_turn_server }}:5349?transport=tcp"/>
        <constructor-arg index="2" value="86400"/>
    </bean>
    {% endif %}

    <bean id="stunTurnService"
            class="org.bigbluebutton.web.services.turn.StunTurnService">
        <property name="stunServers">
            <set>
                {% if bbb_turn_enable %}
                <ref bean="stun0"/>
                {% endif %}
            </set>
        </property>
        <property name="turnServers">
            <set>
                {% if bbb_turn_enable %}
                <ref bean="turn0"/>
                <ref bean="turn1"/>
                {% endif %}
            </set>
        </property>
    </bean>
</beans>
