# General settings
SQLALCHEMY_DATABASE_URI = '{{ indico.database_connection_string }}'
SECRET_KEY = '{{ indico.secret_key }}'
BASE_URL = 'https://{{ indico.domain }}'
CELERY_BROKER = 'redis://127.0.0.1:6379/0'
REDIS_CACHE_URL = 'redis://127.0.0.1:6379/1'
CACHE_BACKEND = 'redis'
DEFAULT_TIMEZONE = 'Europe/London'
DEFAULT_LOCALE = 'en_GB'
ENABLE_ROOMBOOKING = False
CACHE_DIR = '/srv/www/indico/application/cache'
TEMP_DIR = '/srv/www/indico/application/tmp'
LOG_DIR = '/srv/www/indico/application/log'
STORAGE_BACKENDS = {'default': 'fs:/srv/www/indico/archive'}
ATTACHMENT_STORAGE = 'default'

# Email settings
SMTP_SERVER = ('smtp.kde.org', 25)
SMTP_USE_TLS = False
SMTP_LOGIN = ''
SMTP_PASSWORD = ''
SUPPORT_EMAIL = 'sysadmin@kde.org'
PUBLIC_SUPPORT_EMAIL = 'sysadmin@kde.org'
NO_REPLY_EMAIL = 'noreply@kde.org'

STATIC_FILE_METHOD = 'xsendfile'