version: '3'

services:
  app:
    entrypoint: [bin/start]
    image: {{ greenlight_docker_image }}
    container_name: greenlight-v2
    env_file: .env
    restart: unless-stopped
    volumes:
      - ./log:/usr/src/app/log
    network_mode: host
  db:
    image: postgres:9.5
    restart: unless-stopped
    volumes:
      - ./db/production:/var/lib/postgresql/data
    network_mode: host
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD={{ bbb_greenlight_db_password }}
