<extension name="from_sipgate">
  <condition field="destination_number" expression="{{ sipgate.destination }}">
    <action application="answer"/>
    <action application="sleep" data="1000"/>
    <action application="playandgetdigits" data="5 5 3 7000 # conference/conf-pin.wav ivr/ivr-thatwasaninvalid_entry.wav pin \d+"/>
    <action application="transfer" data="SENDTOCONFERENCE XML public"/>
  </condition>
</extension>

<extension name="checkifconference_active">
  <condition field="${conference ${pin} list}" expression="/sofia/g" />
  <condition field="destinationnumber" expression="^SENDTO_CONFERENCE$">
    <action application="set" data="bbb_authorized=true"/>
    <action application="transfer" data="${pin} XML default"/>
  </condition>
</extension>